# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environments
venv/
.env
.env.*

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# Editor/IDE configs
.vscode/
.idea/

# Shell history and outputs
*.bak
*.swp
*.swo
*.tmp

# QR-коды и клиентские конфиги
config/clients/*.conf
config/clients/*.png
config/clients/*.bak

# Docker
*.pid
*.sock

# Node/Frontend (если начнёте использовать npm или yarn)
node_modules/
dist/
build/

# Ignore secret params
config/params/*
